<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Calendário escolar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label position="floating">Email</ion-label>
  <ion-input  type="text" name="email" [(ngModel)]="aluno.email"></ion-input>
  <ion-label position="floating">Senha</ion-label>
  <ion-input type="password" name="senha" [(ngModel)]="aluno.senha" position="floating"></ion-input>
  <ion-button (click)="logar()" color="success" expand="block">Acessar</ion-button>
<ion-button color="danger" href="cadastroaluno" expand="block">Cadastrar-se</ion-button>
 <ion-button color="primary" (click)="redefinir()" expand="block">mudar senha</ion-button>
</ion-content>
